{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
      {% if category %}
          {{category.description|truncatewords:155}}
      {% else %}
          Welcome to NFworld where you can buy ultra-modern items....!
      {% endif %}
{% endblock %}

{% block title %}
      {% if category %}
          {{category.name}} - NFworld
      {% else %}
          New collections here....
      {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
        <div>
            <div class="row my_row_class">
               <div class="mx-auto">
                   <p><a href="{% url 'shop:allprodcat' %}">Products</a></p>
                </div>
             </div>
        </div>
    {% endif %}

    {% if category %}
        <div class="mx-auto">
            <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
        </div>
            <br>
        <div>
            <h2 class="text-center my_title">{{category.name}}</h2>
            <p class="text-justify">{{category.description}}</p>
        </div>
    {% else %}
        <div>
            <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="banner" >
        </div>
        <br>
        <div>
            <h3 class="text-center my_title">Product collection</h3>
            <p class="text-justify">pure and geniune product.High product quality .ncididunt laborum dolor in occaecat nulla incididunt. Pariatur sint nisi nostrud irure incididunt amet dolor sit. Dolor occaecat et enim quis reprehenderit. Dolor tempor culpa fugiat ullamco. Sunt duis velit in commodo exercitation ipsum.</p>
        </div>
    {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}/-</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
            <div class="max-auto">
                {% if products.paginator.num_pages %}
                <hr>
                <div class="text-center">
                    {% for pg in products.paginator.page_range %}
                        <a href="?page={{pg}}"class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}" >{{pg}}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
{% endblock %}